.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.message {
  display: flex;
  flex-flow: row;
  margin: 15px;
}

.text {
  padding: 10px;
  border-radius: 10px;
  background-color: #314161;
  width: 300px;
}

.own .text {
  background-color: #316151;
}

.user-id {
  font-size: 10px;
  margin: 5px;
  width: 130px;
}

input {
  margin-bottom: 50px;
}
